
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">Please Sign In</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" name="myForm" novalidate>
                            <fieldset>
                                <div class="form-group">
                                    <input type="email" id ='txtUsername' name="username" ng-model="username" ng-minlength="5" required placeholder="E-Mail Address" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Password" name="password" type="password" value="" ng-model="password" ng-minlength="6" required>
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                        <div class="padding">
								            <p ng-show="myForm.username.$invalid && !myForm.username.$pristine" style="color:red;">* Username must be an email address</p>
								            <p ng-show="myForm.username.$error.minlength" style="color:red;">* Username must be longer than 5 characters</p>
								            <p ng-show="myForm.password.$error.minlength" style="color:red;">* Password must be longer than 6 characters</p>
								        </div>
								        <button type="button" class="btn btn-lg btn-primary btn-block" ng-disabled="myForm.$invalid" ng-click="submitLogin()">Submit</button>
								        <button type="button" class="btn btn-lg btn-danger btn-block" ng-click="forgotPassword()">Forgot Password</button>
                            </fieldset>
                        </form>
                    </div>
                </div>