			<div class="row">
                <div class="col-lg">
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-clock-o fa-fw"></i>{{details.title}}
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                        <div class="input-group">
                          <input type="text" class="form-control" ng-model='searchTxt'  placeholder="Search for...">
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="searchItem()">Go!</button>
                          </span>
                        </div><!-- /input-group -->
                        <table class="table table-hover">
						    <thead>
						      <tr >
						        <th ng-repeat="header in dataheaders">{{header}}</th>
						       </tr>
						    </thead>
						    <tbody>
						      <tr ng-repeat="item in data">
						        <td ng-repeat="header in dataheaders">{{item[header]}}</td>
                                <td><button type="button" class="btn btn-info" ng-click="editItem(details.title,item)">Edit</button></td>
						      </tr>				  
						</table>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-8 -->
            </div>
