<div class="row">
                <div class="col-md-6">
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-clock-o fa-fw"></i> Category
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                        <div class="input-group">
					      <input type="text" class="form-control" placeholder="Search for...">
					      <span class="input-group-btn">
					        <button class="btn btn-default" type="button">Go!</button>
					      </span>
					    </div><!-- /input-group -->
                        <table class="table table-hover">
						    <thead>
						      <tr>
						        <th>Order ID #</th>
						        <th>Order Amount</th>
						        <th>Delivery Address</th>
						      </tr>
						    </thead>
						    <tbody>
						      <tr>
						        <td>1</td>
						        <td>2000</td>
						        <td>Jason Grace, 991685069</td>
						      </tr>
						      <tr>
						        <td>2</td>
						        <td>2050</td>
						        <td>Percy Grace, 991685069</td>
						      </tr>						  
						</table>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-8 -->
                <div class="col-md-6 col-mid-offset-6">
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-clock-o fa-fw"></i> Products
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                        <div class="input-group">
					      <input type="text" class="form-control" placeholder="Search for...">
					      <span class="input-group-btn">
					        <button class="btn btn-default" type="button">Go!</button>
					      </span>
					    </div><!-- /input-group -->
                        <table class="table table-hover">
						    <thead>
						      <tr>
						        <th>Order ID #</th>
						        <th>Order Amount</th>
						        <th>Delivery Address</th>
						      </tr>
						    </thead>
						    <tbody>
						      <tr>
						        <td>1</td>
						        <td>2000</td>
						        <td>Jason Grace, 991685069</td>

						      </tr>
						      <tr>
						        <td>2</td>
						        <td>2050</td>
						        <td>Percy Grace, 991685069</td>

						      </tr>						  
						</table>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
            </div>
